<template name="home">
<div class="container">
    <ul class="collection with-header">
        <li class="collection-header">
            <h4>Friend List</h4>
        </li>
        {{#if friends}} {{#each friends}}
        <li class="collection-item">
            <div>
                <a href="/profile/{{_id}}">{{username}}</a>
            </div>
        </li>
        {{/each}} {{/if}}
    </ul>
</div>
    <br>
    <br>
    <hr>
    <br>
    <br>
    <div class="container large">
        <center>
            <h3>Chat 1</h3></center>
        <ul class="collection">
            {{#each postList}}

            <li class="chip">
                {{this.name}}
            </li>
            <br>
            <span>{{this.createdAt}}</span>
            <br>
            <span>{{this.username}}</span>
            <br> {{/each}}
        </ul>
    </div>
    <br>

    <div class="container page-footer">
        <div class="card-panel">
            <form class="nouvelle-message">

                <div class="input-field">
                    <input data-emojiable="true" type="text" placeholder="New Message" />
                </div>
                <div class="center-button">
                    <button class="waves-effect waves-light btn">Submit</button>
                </div>

            </form>
        </div>
    </div>
    <hr>
    <br>
    <!--NewChat-->
    <div class="container large">

        <center>
            <h3>Chat 2</h3></center>
        <ul class="collection">
            {{#each chatTwo}}

            <li class="chip">
                {{this.name}}
            </li>
            <br>
            <span>{{this.createdAt}}</span>
            <br>
            <span>{{this.username}}</span>
            <br> {{/each}}
        </ul>
    </div>

    <div class="container page-footer">
        <div class="card-panel">
            <form class="new-message">

                <div class="input-field">
                    <input data-emojiable="true" type="text" placeholder="New Message" />
                </div>
                <div class="center-button">
                    <button class="waves-effect waves-light btn">Submit</button>
                </div>

            </form>
        </div>
    </div>


    <!--BM4 Above!!! Need to start making real progress-->
</template>
<!--//Here is the code for inserting messages into databse BM3!!!-->