<template name="profile">
    <center>
        <div class="container">
            <div style="margin-top:25px;" class="card-panel">
               <h3>Hello My Name is {{username}}.</h3> 
            </div>
        </div>
    </center>
</template>
<!-- <center>
        <h2 style="color:darkslategray;">Profile</h2></center>
    <div class="container" id="pro">
        <div class="col s4">
            <img style="border:2px solid yellow;" width="125px" height="125px" src="http://thesocialmediamonthly.com/wp-content/uploads/2015/08/photo.png" />
            <br>
            <span>{{username}}</span></div>
        <div class="col s8"></div>
    </div>
    -->