body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
nav{
background-color: darkslategray;
}
footer.page-footer{
background-color: darkred;
}
span{
font-size: 12px;
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 42rem; } }
#pro{
width: 87%;
    height:250px;
    background-color: firebrick;
    border-radius: 15px;
    margin-top: 50px;
}
