<template name="ApplicationLayout">
    <header>
        <title>Meteor Chat</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </header>

    <body>
        <header>
            <nav role="navigation">
                <div class="nav-wrapper container">
                    <a href="#" id="logo-container" class="brand-logo">Meteor Chat</a>
                    <ul class="right">
                        <li>{{> loginButtons align=right}}</li>
                        <li><a href="/search">Search</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            {{> yield}}
        </main>
        <footer class="page-footer">
            <div class="footer-copyright">
                <div class="container">
                    @ RoblesC
                </div>
            </div>
        </footer>
    </body>
</template>
<!--
Added application template(Milestone 2 complete)
and I created a mongo db for messages 
buut the user still has no input
for messages
-->
